<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]> <html lang="en" class="no-js"> <![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="{% block description %}{% endblock %}">
  <meta name="author" content="{% block author %}{% endblock %}">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	
  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css?v=2">
  {% block css_links %}{% endblock %}

	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
	<div id="container">
		<header>
    {% block header %}{% endblock %}
		</header>

		<div id="main" role="main">
    {% block main %}{% endblock %}
		</div>

		<footer>
    {% block footer %}{% endblock %}
		</footer>
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="{{ STATIC_URL }}js/libs/jquery.min.js"%3E%3C/script%3E'))</script>
  {% block script %}{% endblock %}
	<!--[if lt IE 7 ]>
  <script src="{{ STATIC_URL }}js/libs/dd_belatedpng.js"></script>
	<script> DD_belatedPNG.fix('img, .png_bg');</script>
  <![endif]-->
  {% block inline-js %}{% endblock %}
</body>
</html>
